
services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:ollama
    container_name: open-webui
    ports:
      - "3000:8080"
    volumes:
      - ./ollama:/root/.ollama
      - open-webui:/app/backend/data
    restart: always

volumes:
  open-webui:
    name: open-webui