
# docker-compose.yml
services:
  ollama:
    # On utilise le nom du service "ollama" pour la communication réseau
    image: ollama/ollama
    container_name: ollama_service # Le nom du conteneur peut rester
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped


    # @brief Automatically pulls qwen3:0.6b on startup ==||== disable for stability
    #command: >
    #  sh -c "ollama serve & sleep 5 && ollama pull qwen3:0.6b && wait" execute this command to lauch ollama and pull the model

    # Optional GPU reservation (uncomment if using NVIDIA runtime)
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]
    
  front:
    image: nginx:alpine
    container_name: chatbot_frontend
    ports:
      - "8080:80"
    volumes:
      - ./front:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - ollama # Assure que 'ollama' démarre avant 'front'
    restart: unless-stopped

volumes:
  ollama_data:
    name: ollama_data_volume